<%= render "shared/second-header"%>
<div class="complete-registration">
  <div> 
    <h2>登録が完了しました</h2>
  </div>
  <div>
    <%= link_to root_path do %>
      <button type="button" class="btn">トップへ戻る</button>
    <% end %>
    
  </div>
</div>

