* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 1vh 5vw;
  /* display: flex;
  flex-direction: column; */
  /* background-color:whitesmoke; */
}

.search-bar-contents {
  /* display: flex;  */
  /* justify-content: space-around; */
  /* align-items: center; */
}
.nav-top {
  /* background-color: lightskyblue; */
  display: flex;
  justify-content: space-around;
}
.nav-left {
  
  /* background-color: lightslategray; */
}
.nav-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* background-color: lightyellow; */
}
.nav-right {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  /* background-color: magenta; */
}
.nav-user {
  /* background-color: mediumaquamarine; */
  display: flex;
  align-items: center;
}
.nav-user-list {
  /* background-color: mistyrose; */
}
.nav-admin {
  /* background-color: orange; */
}
.nav-admin-list {
  /* background-color: paleturquoise; */
}
.admin-page-btn {
  /* background-color: palevioletred; */
}
.item-sell-btn {
  /* background-color: peru; */
}
.nav-bottom {
  /* background-color: rebeccapurple; */
}
.nav-bottom-tags {
  display: flex;
  justify-content: flex-start;
  /* background-color: lightgray; */
  padding: 1.5vw;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* border-radius: 45%; */
}
.genre-list {
  text-decoration: none;
  padding: 1vw;
  margin:10px;
  background-color: white;
  color: #333333;
  border-radius: 45%;
}
.size-list {
  text-decoration: none;
  padding: 1vw;
  margin:10px;
  background-color: white;
  color: #333333;
  border-radius: 45%;
}
.surve-speed-list {
  text-decoration: none;
  padding: 1vw;
  margin:10px;
  background-color: white;
  color: #333333;
  border-radius: 45%;
}
.cart-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* background-color: gray; */
  text-align: center; 
}

.cart-btn-text {
  
  color: red;
  padding-left: 20x;
  font-weight: bold;
  text-decoration: none;
  /* background-color: tomato; */
}
.cart-btn-icon {

}

.takeout-icon {
  width: 12vw;
  margin: 8px;
  
}

.search-form {
  width: 25vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: hsl(182, 60%, 52%);
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.user-nickname {
  text-decoration: none;
  margin-right: 1vw;
  margin-left: 1vw;
  color: #333333;
  font-weight: bold;
}


/* .logout {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.login {
  text-decoration: none;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}  */